<div class="nomargin container-indent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="tt-title">SOMOS UN EQUIPO, DESAFIEMOS NUESTROS LÍMITES.</h1>
        <p>
          Cuando los requerimientos no dan a basto con la exigencia y
          necesidades que se presentan sin aviso. Ese es el momento en que
          comienzas el gran viaje. Nos dimos cuenta del potencial que podíamos
          lograr con nosotros y nos proyectamos a lograr lo mismo en conjunto
          con cada uno de nuestros clientes!.
        </p>
        <blockquote class="tt-blockquote-02">
          <i class="tt-icon icon-g-56"></i>
          <div class="tt-title">
            No siempre se tiene la motivación necesaria para trabajar los
            objetivos que te vas planteando día a día, considerando muchos
            factores externos, brindaremos un servicio que se acomode a tus
            necesidades.
          </div>
          <div class="tt-title-description">— Simón Faúndez</div>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<br />
<div class="container-indent">
  <div class="container">
    <div class="tt-about-col-list">
      <div class="row">
        <div class="col-md-12">
          <h5 class="tt-title">NOS ALEGRAMOS POR TUS LOGROS</h5>
          <div class="width-90">
            Es realmente gratificante leer que has logrado dar el siguiente
            paso, ver tus grandes avances y enorgullecernos tanto como tú.
            Quizás sólo seamos un pequeño grano de arena en ese largo camino
            deportivo, pero el enfoque principal sigue siendo el mismo, cada vez
            que el equipo de Leafsupps Nutrition atiende a un cliente, es con el
            fin de aportar un consejo, abrir tus ojos y guiarte por tu camino
            correcto! ¿De eso se trata o no? Queremos ver si realmente quieres
            romper esa barrera que aún no logras traspasar, si verdaderamente te
            comprometerías contigo mismo para desafiar tus límites y lograr esa
            meta que tanto has luchado por conseguir. Estamos dispuestos y
            estaremos junto a ti en el proceso, hasta en los momentos más
            difíciles, no dudes en consultar. Queremos verte arriba, en lo más
            alto!.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
