<footer class="bg-dark text-center text-white">
  <br />
  <div id="cont" class="container col-12">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 id="titulo">¿ Cómo Comprar ?</h2>
      </div>
      <div class="col-sm-4 text-center">
        <img id="img_footer" src="assets/cart.png" width="50px" height="50px" />
        <p id="mensajito">1. Selecciona tu suplemento favorito</p>
      </div>
      <div class="col-sm-4 text-center">
        <img
          id="img_footer"
          src="assets/payment.png"
          width="50px"
          height="50px"
        />
        <p id="mensajito">2. Define tu forma de pago</p>
      </div>
      <div class="col-sm-4 text-center">
        <img
          id="img_footer"
          src="assets/envio.png"
          width="50px"
          height="50px"
        />
        <p id="mensajito">3. Nosotros lo enviamos gratis a tu domicilio</p>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <!-- Grid container -->
  <div class="container">
      <div class="col-sm-12">
        <h5 class="tt-title">CONTÁCTANOS</h5>
        <div class="tt-box-info">
          <p>
            <span class="color-def-dark"></span> Santiago,
            Región Metropolitana, Chile
          </p>
          <p><span class="color-def-dark">Celular:</span> +569 4321 9978</p>
          <p>
            <span class="color-def-dark">Hours:</span> Lun a Vie 9 AM a 6 PM
          </p>
          <p>
            <span class="color-def-dark">E-mail: </span>
            <a class="link" href="mailto:soporte@suplesdeportivos.cl"
              >contacto@suplesdeportivos.cl</a
            >
          </p>
        </div>
      </div>
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-facebook-official"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-linkedin"></i
      ></a>

      <!-- Github -->
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright
    <a class="text-white" href="www.lnutrition.cl">Suplementos Deportivos</a>
  </div>
  <!-- Copyright -->
</footer>
