
<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12" id="sLogin">
            <h4 class="text-center">Ingreso a la tienda</h4>
            <h5 class="text-center">Completa el login para continuar</h5>
                <div class="form-group">
                    <label for="exampleInputUser">Usuario</label>
                    <input type="text" class="form-control" [formControl]="user" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">Contraseña</label>
                    <input type="password" class="form-control" [formControl]="pwd" placeholder="Contraseña">
                </div>
                <br>
                <button type="submit" (click)=validar() class="btn btn-primary">Iniciar sesión</button>
                <br>
                <span style="color:red">{{alertUser}}</span>
        </div>
    </div>
</div>

