<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">SUPLEMENTOS DEPORTIVOS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="menu" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio de Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nosotros">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pago">Compras</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-lg-0">
        <img width="50" src="../assets/lorem.png" />
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid mt-1 bg-dark text-center">
  <div class="row">
    <div class="col">
      <span class="text-white">ENVÍOS GRATIS A TODO EL PAÍS</span>
    </div>
    <div class="col">
      <span class="text-white">6-12 CUOTAS SIN INTERES</span>
    </div>
    <div class="col">
      <span class="text-white">GARANTIA EXTENDIDA Y DEVOLUCIÓN</span>
    </div>
  </div>
</div>
<br>
