<div class="container">
  <div class="row">
    <div class="col-md-4 mt-3">
      <form class="d-flex">
        <input
          class="form-control me-2"
          [formControl]="clave"
          ng-model="searchText"
          type="text"
          placeholder="Más buscado: proteina, creatina, pre entreno, quemador"
          aria-label="Search"
        />
        <button
          (click)="busquedaClave()"
          class="btn btn-outline-success"
          type="submit"
        >
          Buscar
        </button>
        <button
          (click)="quitarBusqueda()"
          class="btn btn-outline-success"
          type="submit"
        >
          Quitar
        </button>
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use xlink:href="bootstrap-icons.svg#heart-fill" />
        </svg>
      </form>
    </div>
    <div class="col-md-4 mt-8"></div>
    <div class="col-md-4 mt-3">
      <button
        data-bs-target="#exampleModal"
        data-bs-toggle="modal"
        class="btn float-end"
      >
        <i class="bi bi-cart" src="assets/tarjetas/cart.jpeg" width="10px" height="10px"></i> Carrito
        <span *ngIf="productosCarrito.length > 0"
          >({{ productosCarrito.length }})</span
        >
      </button>
    </div>
  </div>
</div>
<hr />

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h4 class="text-center">Productos disponibles</h4>
      <br />
      <div class="row">
        <div
          class="col-md-4 mb-4"
          *ngFor="
            let items of productosActual;
            let i = index;
            filter: searchText
          "
        >
          <img width="250" src="{{ items.img }}" /><br />
          <span class="fw-bolder">{{ items.nombre }}</span
          ><br />
          <span>{{ items.precio | currency: "CLP" }}</span
          ><br />
          Agregar al carrito
          <button (click)="agregarProducto(i)" class="btn btn-primary">
            <i
              style="color: green"
              class="fa fa-plus-circle"
              aria-hidden="true"
            ></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Carrito de compra -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Carrito de compra</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Producto</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Total</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of productosCarrito; let j = index">
              <td class="w-25">
                <img
                  src="{{ p.img }}"
                  class="img-fluid img-thumbnail"
                  alt="Sheep"
                />
              </td>
              <td>{{ p.nombre }}</td>
              <td>{{ p.precio }}</td>
              <td style="width: 15%">
                <input
                  type="text"
                  class="form-control"
                  [formControl]="cantidad"
                  id="input1"
                  placeholder="{{ productosCantidad[j + 1].cant }}"
                />
              </td>
              <td>{{ p.precio * productosCantidad[j + 1].cant }}</td>
              <td>
                <button
                  (click)="eliminarProducto(p.codigo)"
                  class="btn btn-danger btn-sm"
                >
                  <i class="fa fa-times"></i>
                </button>
                &nbsp;
                <button
                  (click)="actualizarProducto(p.codigo)"
                  href="#"
                  class="btn btn-success btn-sm"
                >
                  <i class="fas fa-sync-alt"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <th>Total:</th>
              <td>{{ totalDinero | currency: "CLP" }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          data-bs-dismiss="modal"
          type="button"
          routerLink="../pago"
          class="btn btn-primary"
        >
          Pagar
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<br>


